<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ichef.bbci.co.uk/news/976/cpsprodpb/18459/production/_117371499_gettyimages-1215359845.jpg);">
  <div class="container">
    <h1>Save all your favorite movies!</h1>
    <p>Organize your movies in lists</p>
  </div>
</div>
